In [1]:
#DataReduction(Sampling)
#Date:4/6/2023
#Author:Kevin ZHENG
#This notebook samples 10000 flights to reduce the size of dataset using two methods. 
#The output file with "RAW" in name means it is 10000 out of 86866 flights.
#The output file with "ARRDELAY" in name means it is 10000 out of 19252 arrival-delayed flights, which have detailed information of delay.

In [2]:
import pandas as pd
import seaborn as sns
import glob
import os

In [3]:
#Read the dataset
df=pd.read_csv("E:\EE461P\Data\AUS_Classification.csv",index_col=0)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86866 entries, 0 to 86865
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   MONTH                   86866 non-null  int64
 1   DAY_OF_MONTH            86866 non-null  int64
 2   DAY_OF_WEEK             86866 non-null  int64
 3   MKT_CARRIER_AIRLINE_ID  86866 non-null  int64
 4   OP_CARRIER_FL_NUM       86866 non-null  int64
 5   ORIGIN_AIRPORT_SEQ_ID   86866 non-null  int64
 6   DEST_AIRPORT_SEQ_ID     86866 non-null  int64
 7   CRS_DEP_TIME            86866 non-null  int64
 8   DEP_TIME                86866 non-null  float64
 9   DEP_DELAY               86866 non-null  float64
 10  DEP_DEL15               86866 non-null  float64
 11  DEP_DELAY_GROUP         86866 non-null  float64
 12  CRS_ARR_TIME            86866 non-null  int64
 13  ARR_TIME                86866 non-null  float64
 14  ARR_DELAY               86866 non-null  float64
 15  ARR_DEL15               86866 non-null  float64
 16  ARR_DELAY_GROUP         86866 non-null  float64
 17  CRS_ELAPSED_TIME        86866 non-null  float64
 18  ACTUAL_ELAPSED_TIME     86866 non-null  float64
 19  DISTANCE                86866 non-null  float64
 20  DISTANCE_GROUP          86866 non-null  int64
 21  CARRIER_DELAY           86866 non-null  float64
 22  WEATHER_DELAY           86866 non-null  float64
 23  NAS_DELAY               86866 non-null  float64
 24  SECURITY_DELAY          86866 non-null  float64
 25  LATE_AIRCRAFT_DELAY     86866 non-null  float64
dtypes: float64(16), int64(10)
memory usage: 17.9 MB

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_SEQ_ID,DEST_AIRPORT_SEQ_ID,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,ARR_DELAY_GROUP,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,1,1,6,19393,1030,1042302,1320402,2020,2224.0,124.0,...,7.0,145.0,140.0,994.0,4,0.0,0.0,0.0,0.0,119.0
1,1,1,6,19393,1372,1042302,1129202,1840,1949.0,69.0,...,7.0,135.0,179.0,775.0,4,0.0,0.0,44.0,0.0,69.0
2,1,1,6,19393,1377,1042302,1295407,1420,1530.0,70.0,...,3.0,200.0,189.0,1226.0,5,7.0,0.0,0.0,0.0,52.0
3,1,1,6,19393,1473,1042302,1320402,1235,1233.0,-2.0,...,1.0,145.0,166.0,994.0,4,0.0,0.0,19.0,0.0,0.0
4,1,1,6,19393,1492,1042302,1069302,1545,1742.0,117.0,...,6.0,120.0,102.0,756.0,4,75.0,0.0,0.0,0.0,24.0

In [4]:
df.loc[df['ARR_DELAY_GROUP']>=1]

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_SEQ_ID,DEST_AIRPORT_SEQ_ID,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,ARR_DELAY_GROUP,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,1,1,6,19393,1030,1042302,1320402,2020,2224.0,124.0,...,7.0,145.0,140.0,994.0,4,0.0,0.0,0.0,0.0,119.0
1,1,1,6,19393,1372,1042302,1129202,1840,1949.0,69.0,...,7.0,135.0,179.0,775.0,4,0.0,0.0,44.0,0.0,69.0
2,1,1,6,19393,1377,1042302,1295407,1420,1530.0,70.0,...,3.0,200.0,189.0,1226.0,5,7.0,0.0,0.0,0.0,52.0
3,1,1,6,19393,1473,1042302,1320402,1235,1233.0,-2.0,...,1.0,145.0,166.0,994.0,4,0.0,0.0,19.0,0.0,0.0
4,1,1,6,19393,1492,1042302,1069302,1545,1742.0,117.0,...,6.0,120.0,102.0,756.0,4,75.0,0.0,0.0,0.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86810,10,31,1,19805,455,1042302,1410702,816,810.0,-6.0,...,1.0,149.0,182.0,872.0,4,0.0,0.0,27.0,0.0,0.0
86814,10,31,1,19930,1254,1042302,1405702,1745,1922.0,97.0,...,4.0,264.0,240.0,1715.0,7,0.0,0.0,0.0,0.0,73.0
86827,10,31,1,19977,1940,1042302,1289208,1412,554.0,942.0,...,12.0,200.0,191.0,1242.0,5,382.0,0.0,0.0,0.0,551.0
86854,10,31,1,20368,2208,1042302,1198603,859,930.0,31.0,...,2.0,166.0,167.0,1103.0,5,31.0,0.0,1.0,0.0,0.0
86865,10,31,1,20436,2007,1042302,1288904,2348,112.0,84.0,...,4.0,186.0,166.0,1090.0,5,0.0,0.0,0.0,0.0,64.0

In [5]:
#Filter the delayed filghts(arrival)
df_d=df.loc[df['ARR_DELAY_GROUP']>=1]

In [6]:
#Random sampling
df_d_reduction=df_d.sample(n=10000,random_state=42)
df_d_reduction.info()
df_d_reduction.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 25091 to 57670
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   MONTH                   10000 non-null  int64
 1   DAY_OF_MONTH            10000 non-null  int64
 2   DAY_OF_WEEK             10000 non-null  int64
 3   MKT_CARRIER_AIRLINE_ID  10000 non-null  int64
 4   OP_CARRIER_FL_NUM       10000 non-null  int64
 5   ORIGIN_AIRPORT_SEQ_ID   10000 non-null  int64
 6   DEST_AIRPORT_SEQ_ID     10000 non-null  int64
 7   CRS_DEP_TIME            10000 non-null  int64
 8   DEP_TIME                10000 non-null  float64
 9   DEP_DELAY               10000 non-null  float64
 10  DEP_DEL15               10000 non-null  float64
 11  DEP_DELAY_GROUP         10000 non-null  float64
 12  CRS_ARR_TIME            10000 non-null  int64
 13  ARR_TIME                10000 non-null  float64
 14  ARR_DELAY               10000 non-null  float64
 15  ARR_DEL15               10000 non-null  float64
 16  ARR_DELAY_GROUP         10000 non-null  float64
 17  CRS_ELAPSED_TIME        10000 non-null  float64
 18  ACTUAL_ELAPSED_TIME     10000 non-null  float64
 19  DISTANCE                10000 non-null  float64
 20  DISTANCE_GROUP          10000 non-null  int64
 21  CARRIER_DELAY           10000 non-null  float64
 22  WEATHER_DELAY           10000 non-null  float64
 23  NAS_DELAY               10000 non-null  float64
 24  SECURITY_DELAY          10000 non-null  float64
 25  LATE_AIRCRAFT_DELAY     10000 non-null  float64
dtypes: float64(16), int64(10)
memory usage: 2.1 MB

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_SEQ_ID,DEST_AIRPORT_SEQ_ID,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,ARR_DELAY_GROUP,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
25091,12,23,5,19805,1796,1042302,1288904,720,821.0,61.0,...,3.0,179.0,175.0,1090.0,5,57.0,0.0,0.0,0.0,0.0
85336,10,25,2,19805,1518,1042302,1330303,1645,1736.0,51.0,...,1.0,164.0,139.0,1103.0,5,0.0,0.0,0.0,0.0,26.0
63476,7,28,4,19930,1254,1042302,1405702,1735,1741.0,6.0,...,1.0,250.0,268.0,1715.0,7,6.0,0.0,18.0,0.0,0.0
18212,11,25,5,19393,1883,1042302,1537002,1030,1137.0,67.0,...,3.0,90.0,68.0,426.0,2,45.0,0.0,0.0,0.0,0.0
29171,3,12,6,19393,2891,1042302,1498603,1610,1653.0,43.0,...,1.0,135.0,121.0,936.0,4,0.0,0.0,10.0,0.0,19.0

In [7]:
df_d_reduction.to_csv('E:\EE461P\Data\AUS_10K_ARRDELAY.csv')

In [8]:
df_r_reduction=df.sample(n=10000,random_state=42)
df_r_reduction= df_r_reduction.reset_index(drop=True)
df_r_reduction.info()
df_r_reduction.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   MONTH                   10000 non-null  int64
 1   DAY_OF_MONTH            10000 non-null  int64
 2   DAY_OF_WEEK             10000 non-null  int64
 3   MKT_CARRIER_AIRLINE_ID  10000 non-null  int64
 4   OP_CARRIER_FL_NUM       10000 non-null  int64
 5   ORIGIN_AIRPORT_SEQ_ID   10000 non-null  int64
 6   DEST_AIRPORT_SEQ_ID     10000 non-null  int64
 7   CRS_DEP_TIME            10000 non-null  int64
 8   DEP_TIME                10000 non-null  float64
 9   DEP_DELAY               10000 non-null  float64
 10  DEP_DEL15               10000 non-null  float64
 11  DEP_DELAY_GROUP         10000 non-null  float64
 12  CRS_ARR_TIME            10000 non-null  int64
 13  ARR_TIME                10000 non-null  float64
 14  ARR_DELAY               10000 non-null  float64
 15  ARR_DEL15               10000 non-null  float64
 16  ARR_DELAY_GROUP         10000 non-null  float64
 17  CRS_ELAPSED_TIME        10000 non-null  float64
 18  ACTUAL_ELAPSED_TIME     10000 non-null  float64
 19  DISTANCE                10000 non-null  float64
 20  DISTANCE_GROUP          10000 non-null  int64
 21  CARRIER_DELAY           10000 non-null  float64
 22  WEATHER_DELAY           10000 non-null  float64
 23  NAS_DELAY               10000 non-null  float64
 24  SECURITY_DELAY          10000 non-null  float64
 25  LATE_AIRCRAFT_DELAY     10000 non-null  float64
dtypes: float64(16), int64(10)
memory usage: 2.0 MB

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_SEQ_ID,DEST_AIRPORT_SEQ_ID,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,ARR_DELAY_GROUP,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,6,12,7,19930,1403,1042302,1477104,1505,1623.0,78.0,...,5.0,228.0,225.0,1504.0,7,0.0,0.0,0.0,0.0,75.0
1,8,10,3,19977,654,1042302,1226402,711,708.0,-3.0,...,-1.0,195.0,190.0,1297.0,6,0.0,0.0,0.0,0.0,0.0
2,8,10,3,19977,728,1042302,1161802,1406,1448.0,42.0,...,6.0,234.0,289.0,1504.0,7,0.0,0.0,97.0,0.0,0.0
3,9,2,5,19805,4076,1042302,1319801,843,841.0,-2.0,...,-1.0,112.0,107.0,650.0,3,0.0,0.0,0.0,0.0,0.0
4,5,31,2,19393,2656,1042302,1039707,630,629.0,-1.0,...,-1.0,130.0,127.0,813.0,4,0.0,0.0,0.0,0.0,0.0

In [9]:
df_r_reduction.to_csv('E:\EE461P\Data\AUS_10K_RAW.csv')

In [10]:
df2=pd.read_csv("E:\EE461P\Data\AUS_Regression.csv",index_col=0)
df2.info()
df2.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86866 entries, 0 to 86865
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   MONTH                   86866 non-null  int64
 1   DAY_OF_MONTH            86866 non-null  int64
 2   DAY_OF_WEEK             86866 non-null  int64
 3   MKT_CARRIER_AIRLINE_ID  86866 non-null  int64
 4   OP_CARRIER_FL_NUM       86866 non-null  int64
 5   ORIGIN_AIRPORT_SEQ_ID   86866 non-null  int64
 6   DEST_AIRPORT_SEQ_ID     86866 non-null  int64
 7   CRS_DEP_TIME            86866 non-null  int64
 8   DEP_TIME                86866 non-null  float64
 9   DEP_DELAY               86866 non-null  float64
 10  CRS_ARR_TIME            86866 non-null  int64
 11  ARR_TIME                86866 non-null  float64
 12  ARR_DELAY               86866 non-null  float64
 13  CRS_ELAPSED_TIME        86866 non-null  float64
 14  ACTUAL_ELAPSED_TIME     86866 non-null  float64
 15  DISTANCE                86866 non-null  float64
 16  CARRIER_DELAY           86866 non-null  float64
 17  WEATHER_DELAY           86866 non-null  float64
 18  NAS_DELAY               86866 non-null  float64
 19  SECURITY_DELAY          86866 non-null  float64
 20  LATE_AIRCRAFT_DELAY     86866 non-null  float64
dtypes: float64(12), int64(9)
memory usage: 14.6 MB

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_SEQ_ID,DEST_AIRPORT_SEQ_ID,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,ARR_TIME,ARR_DELAY,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,1,1,6,19393,1030,1042302,1320402,2020,2224.0,124.0,...,144.0,119.0,145.0,140.0,994.0,0.0,0.0,0.0,0.0,119.0
1,1,1,6,19393,1372,1042302,1129202,1840,1949.0,69.0,...,2148.0,113.0,135.0,179.0,775.0,0.0,0.0,44.0,0.0,69.0
2,1,1,6,19393,1377,1042302,1295407,1420,1530.0,70.0,...,1639.0,59.0,200.0,189.0,1226.0,7.0,0.0,0.0,0.0,52.0
3,1,1,6,19393,1473,1042302,1320402,1235,1233.0,-2.0,...,1619.0,19.0,145.0,166.0,994.0,0.0,0.0,19.0,0.0,0.0
4,1,1,6,19393,1492,1042302,1069302,1545,1742.0,117.0,...,1924.0,99.0,120.0,102.0,756.0,75.0,0.0,0.0,0.0,24.0

In [11]:
df2_d=df2.loc[df2['ARR_DELAY']>=15]

In [12]:
df2_d_reduction=df2_d.sample(n=10000,random_state=42)
df2_d_reduction.info()
df2_d_reduction.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 25091 to 57670
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   MONTH                   10000 non-null  int64
 1   DAY_OF_MONTH            10000 non-null  int64
 2   DAY_OF_WEEK             10000 non-null  int64
 3   MKT_CARRIER_AIRLINE_ID  10000 non-null  int64
 4   OP_CARRIER_FL_NUM       10000 non-null  int64
 5   ORIGIN_AIRPORT_SEQ_ID   10000 non-null  int64
 6   DEST_AIRPORT_SEQ_ID     10000 non-null  int64
 7   CRS_DEP_TIME            10000 non-null  int64
 8   DEP_TIME                10000 non-null  float64
 9   DEP_DELAY               10000 non-null  float64
 10  CRS_ARR_TIME            10000 non-null  int64
 11  ARR_TIME                10000 non-null  float64
 12  ARR_DELAY               10000 non-null  float64
 13  CRS_ELAPSED_TIME        10000 non-null  float64
 14  ACTUAL_ELAPSED_TIME     10000 non-null  float64
 15  DISTANCE                10000 non-null  float64
 16  CARRIER_DELAY           10000 non-null  float64
 17  WEATHER_DELAY           10000 non-null  float64
 18  NAS_DELAY               10000 non-null  float64
 19  SECURITY_DELAY          10000 non-null  float64
 20  LATE_AIRCRAFT_DELAY     10000 non-null  float64
dtypes: float64(12), int64(9)
memory usage: 1.7 MB

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_SEQ_ID,DEST_AIRPORT_SEQ_ID,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,ARR_TIME,ARR_DELAY,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
25091,12,23,5,19805,1796,1042302,1288904,720,821.0,61.0,...,916.0,57.0,179.0,175.0,1090.0,57.0,0.0,0.0,0.0,0.0
85336,10,25,2,19805,1518,1042302,1330303,1645,1736.0,51.0,...,2055.0,26.0,164.0,139.0,1103.0,0.0,0.0,0.0,0.0,26.0
63476,7,28,4,19930,1254,1042302,1405702,1735,1741.0,6.0,...,2009.0,24.0,250.0,268.0,1715.0,6.0,0.0,18.0,0.0,0.0
18212,11,25,5,19393,1883,1042302,1537002,1030,1137.0,67.0,...,1245.0,45.0,90.0,68.0,426.0,45.0,0.0,0.0,0.0,0.0
29171,3,12,6,19393,2891,1042302,1498603,1610,1653.0,43.0,...,1954.0,29.0,135.0,121.0,936.0,0.0,0.0,10.0,0.0,19.0

In [13]:
df2_d_reduction.to_csv('E:\EE461P\Data\AUS_10K_ARRDELAY_Regression.csv')

In [14]:
df2_r_reduction=df2.sample(n=10000,random_state=42)
df2_r_reduction= df2_r_reduction.reset_index(drop=True)
df2_r_reduction.info()
df2_r_reduction.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   MONTH                   10000 non-null  int64
 1   DAY_OF_MONTH            10000 non-null  int64
 2   DAY_OF_WEEK             10000 non-null  int64
 3   MKT_CARRIER_AIRLINE_ID  10000 non-null  int64
 4   OP_CARRIER_FL_NUM       10000 non-null  int64
 5   ORIGIN_AIRPORT_SEQ_ID   10000 non-null  int64
 6   DEST_AIRPORT_SEQ_ID     10000 non-null  int64
 7   CRS_DEP_TIME            10000 non-null  int64
 8   DEP_TIME                10000 non-null  float64
 9   DEP_DELAY               10000 non-null  float64
 10  CRS_ARR_TIME            10000 non-null  int64
 11  ARR_TIME                10000 non-null  float64
 12  ARR_DELAY               10000 non-null  float64
 13  CRS_ELAPSED_TIME        10000 non-null  float64
 14  ACTUAL_ELAPSED_TIME     10000 non-null  float64
 15  DISTANCE                10000 non-null  float64
 16  CARRIER_DELAY           10000 non-null  float64
 17  WEATHER_DELAY           10000 non-null  float64
 18  NAS_DELAY               10000 non-null  float64
 19  SECURITY_DELAY          10000 non-null  float64
 20  LATE_AIRCRAFT_DELAY     10000 non-null  float64
dtypes: float64(12), int64(9)
memory usage: 1.6 MB

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_SEQ_ID,DEST_AIRPORT_SEQ_ID,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,ARR_TIME,ARR_DELAY,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,6,12,7,19930,1403,1042302,1477104,1505,1623.0,78.0,...,1808.0,75.0,228.0,225.0,1504.0,0.0,0.0,0.0,0.0,75.0
1,8,10,3,19977,654,1042302,1226402,711,708.0,-3.0,...,1118.0,-8.0,195.0,190.0,1297.0,0.0,0.0,0.0,0.0,0.0
2,8,10,3,19977,728,1042302,1161802,1406,1448.0,42.0,...,2037.0,97.0,234.0,289.0,1504.0,0.0,0.0,97.0,0.0,0.0
3,9,2,5,19805,4076,1042302,1319801,843,841.0,-2.0,...,1028.0,-7.0,112.0,107.0,650.0,0.0,0.0,0.0,0.0,0.0
4,5,31,2,19393,2656,1042302,1039707,630,629.0,-1.0,...,936.0,-4.0,130.0,127.0,813.0,0.0,0.0,0.0,0.0,0.0

In [15]:
df2_r_reduction.to_csv('E:\EE461P\Data\AUS_10K_RAW_Regression.csv')